{% extends 'admin/my_base.html' %}

{% block body %}
{% if form %}
<h1>Add Genome data</h1>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">

        <p>Before adding genomes data to the database, corresponding clusters must be added.
        Using the form below upload the genomes information (tabular format)</p>
        <form method="POST"  action="{{ url_for('admin_controls.add_genomes') }}"  role="form" enctype="multipart/form-data">
            {{ form.csrf_token }}
                <p>File with Genomes descriptions and associated information, in tabular format</p>
                <label class="btn btn-default" for="genomes_file" id="genomes-file-button">
                    {{ form.genomes_file(style="display:none;", onchange="")}}
                    <span id="genomes-file-selector-text">Select Genomes File</span>
                </label>
            </div>
        <button type="submit" class="btn btn-success pull-right">Add Genomes data</button>

        </form>
    </div>
    <p></p>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Help</strong></div>
            <div class="panel-body">
                ADD DESCRIPTION.
                <br>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block tail %}
<script src="{{ url_for('static', filename='js/jscolor.min.js') }}"></script>
<script>
$(function() {
    $("#genomes_file").change(function() {
        $('#genomes-file-selector-text').html($(this).val().replace(/^.*\\/, '') + ' selected');$('#genomes-file-button').toggleClass('btn-default btn-success');
    });
});
</script>
{{ super() }}
{% endblock%}