{% extends 'admin/my_base.html' %}

{% block body %}
{% if form %}
<h1>Add Ontology data</h1>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">

        <p>Before adding samples to the database, ontology definitions must be added.
        Using the form below upload the latest Plant Ontology and Plant Expresimental Conditions Ontology definitions (tabular format)</p>
        <form method="POST"  action="{{ url_for('admin_controls.add_ontology') }}"  role="form" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group">
                <p>File with PO descriptions and relations, in tabular format, can be obtained from the <a href="https://github.com/Planteome/plant-ontology">Plant Ontology GitHub</a>.</p>
                <label class="btn btn-default" for="po" id="po-file-button">
                    {{ form.po(style="display:none;", onchange="")}}
                    <span id="po-file-selector-text">Select PO File</span>
                </label>
            </div>
            <div class="form-group">
                <p>File with PECO descriptions and relations, in tabular format, can be obtained from the <a href="https://github.com/Planteome/plant-experimental-conditions-ontology">Plant Expresimental Conditions Ontology GitHub</a>.</p>
                <label class="btn btn-default" for="peco" id="peco-file-button">
                    {{ form.peco(style="display:none;", onchange="")}}
                    <span id="peco-file-selector-text">Select PECO File</span>
                </label>
            </div>
            <div class="form-group">
                <p>File with ENVO terms, classes and definitions, in tabular format.</p>
                <label class="btn btn-default" for="envo" id="envo-file-button">
                    {{ form.envo(style="display:none;", onchange="")}}
                    <span id="envo-file-selector-text">Select ENVO File</span>
                </label>
            </div>
        <button type="submit" class="btn btn-success pull-right">Add Ontology data</button>

        </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Help</strong></div>
            <div class="panel-body">
                PO terms, classes, and definitions need to be imported prior to importing samples for
                species. These can be obtained from the <a href="https://github.com/Planteome/plant-ontology">Plant Ontology GitHub</a>.
                <br>
                PECO terms, classes, and definitions need to be imported prior to importing samples for
                species. These can be obtained from the <a href="https://github.com/Planteome/plant-experimental-conditions-ontology">Plant Expresimental Conditions Ontology GitHub</a>.
                <br>
                ENVO terms, classes, and definitions need to be imported prior to importing samples for
                species. These can be obtained from the <a href="https://github.com/EnvironmentOntology/envo">Environment Ontology GitHub</a>.
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block tail %}
<script src="{{ url_for('static', filename='js/jscolor.min.js') }}"></script>
<script>
$(function() {
    $("#po").change(function() {
        $('#po-file-selector-text').html($(this).val().replace(/^.*\\/, '') + ' selected');$('#po-file-button').toggleClass('btn-default btn-success');
    });
    $("#peco").change(function() {
        $('#peco-file-selector-text').html($(this).val().replace(/^.*\\/, '') + ' selected');$('#peco-file-button').toggleClass('btn-default btn-success');
    });
    $("#envo").change(function() {
        $('#envo-file-selector-text').html($(this).val().replace(/^.*\\/, '') + ' selected');$('#envo-file-button').toggleClass('btn-default btn-success');
    });
});
</script>
{{ super() }}
{% endblock%}