{% extends 'admin/my_base.html' %}

{% block body %}
{% if form %}
<h1>Add OTU Classification</h1>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <form method="POST"  action="{{ url_for('admin_controls.add_otu_classification') }}"  role="form" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <label>Select a grass species</label>
            <div class="form-group">
                {{ form.species_id.label }}
                {{ form.species_id(class_="form-control") }}
            </div>

            <div class="form-group">
                {{ form.literature_id.label }}
                {{ form.literature_id(class_="form-control") }}
            </div>

            <div class="form-group">
                {{ form.otu_method_id.label }}
                {{ form.otu_method_id(class_="form-control") }}
            </div>

            <div class="form-group">
                {{ form.otu_classification_description.label }}
                {{ form.otu_classification_description(class_="form-control") }}
            </div>

            <div class="form-group">
                {{ form.otu_classification_method_gtdb.label }}
                {{ form.otu_classification_method_gtdb(class_="form-control") }}
            </div>

            <div class="form-group">
                {{ form.classifier_version_gtdb.label }}
                {{ form.classifier_version_gtdb(class_="form-control") }}
            </div>

            <div class="form-group">
                {{ form.release_gtdb.label }}
                {{ form.release_gtdb(class_="form-control") }}
            </div>

            <div class="form-group">
                <label>GTDB OTU Classification file</label>
                <p>Text file with tab-delimited columns with one line header.</p>
                <label class="btn btn-default" for="gtdb_otu_classification_file" id="gtdb-otu-classification-file-button">
                    {{ form.gtdb_otu_classification_file(style="display:none;", onchange="")}}
                    <span id="gtdb-otu-classification-file-selector-text">Select File</span>
                </label>
            </div>

            <div class="form-group">
                <label>{{ form.additional_classification.label }}</label><br />
                {% for option in form.additional_classification %}
                    <div class="radio-inline" name="additional_classification_form" id="additional_classification_form">
                        <label>
                        {{ option }}
                        {{ option.label }}
                        </label>
                    </div>
                {% endfor %}
            </div>

            <div id="additional_classification">
                <p>Please, add additional classification files</p>
                <p>Currently, this is a TEST only.</p>
            </div>            

            <button type="submit" class="btn btn-success pull-right">Add OTU Classification</button>
        </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Help</strong></div>
            <div class="panel-body">
                <li>Adds <strong>OTU classification</strong> to the database</li>
                <li>It is mandatory to provide at least a GTDB classification file</li>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block tail %}
<script>
$("#literature_list").hide();

let species_select = document.getElementById('species_id');
let literature_select = document.getElementById('literature_id');
let otu_method_select = document.getElementById('otu_method_id');

species_select.onchange = function() {
    species_id = species_select.value;

    fetch("{{ url_for('species.get_run_papers', species_id='species_id', run_data_type='metataxonomics') }}".replace('species_id', species_id)).then(function(response) {
                response.json().then(function(data) {
                    
                    let optionHTML = '';

                    optionHTML += '<option value="' + 0 + '">' + 'Select Species first' + '</option>';
                   
                    for (let literature of data.literatures) {
                        optionHTML += '<option value="' + literature.id + '">' + literature.publication_detail + '</option>';
                    }
        
                    literature_select.innerHTML = optionHTML;
        
                })
            })

}

literature_select.onchange = function() {
    literature_id = literature_select.value;

    fetch("{{ url_for('otu.get_lit_otus', literature_id='literature_id') }}".replace('literature_id', literature_id)).then(function(response) {
                response.json().then(function(data) {
                    
                    let optionHTML = '';

                    optionHTML += '<option value="' + 0 + '">' + 'Select Literature first' + '</option>';
                   
                    for (let otu of data.otus) {
                        optionHTML += '<option value="' + otu.id + '">' + otu.otu_method_summary + '</option>';
                    }
        
                    otu_method_select.innerHTML = optionHTML;
        
                })
            })

}

$(function() {
    $("#gtdb_otu_classification_file").change(function() {
        $('#gtdb-otu-classification-file-selector-text').html($(this).val().replace(/^.*\\/, '') + ' selected');$('#gtdb-otu-classification-file-button').toggleClass('btn-default btn-success');
    });
});

$(function() {
    $("#additional_classification").hide();
});

$(function() {
    $('input[name="additional_classification"]').change(function() {
        var selectedOption = $(this).val();
        
        if (selectedOption === "yes") {
            $("#additional_classification").show();
        } else if (selectedOption === "no") {
            $("#additional_classification").hide();
        }

    });
});

</script>
{{ super() }}
{% endblock%}