{% extends 'admin/my_base.html' %}

{% block body %}
{% if form %}
<h1>Add OTU Profiles for a Species and Study</h1>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
        <form method="POST"  action="{{ url_for('admin_controls.add_otu_profiles') }}"  role="form" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <label>Select a grass species</label>
            <div class="form-group">
                {{ form.species_id.label }}
                {{ form.species_id(class_="form-control") }}
            </div>

            <div class="form-group">
                {{ form.study_id.label }}
                {{ form.study_id(class_="form-control") }}
            </div>

            <div class="form-group">
                <label>The OTU table file</label>
                <p>OTU table file, sequence identifiers must match those in FASTA file.</p>
                <label class="btn btn-default" for="feature_table_file" id="feature-table-file-button">
                    {{ form.feature_table_file(style="display:none;", onchange="")}}
                    <span id="feature-table-file-selector-text">Select File</span>
                </label>
            </div>

            <label>Specify normalization methods used in OTU quantification</label>
            <div class="form-group">
                {{ form.normalization_method.label }}
                {{ form.normalization_method(class_="form-control") }}
            </div>

            <div class="form-group">
                <label>The run annotation file</label>
                <p>Tabular file with runs and associated metadata.</p>
                <label class="btn btn-default" for="run_annotation_file" id="run-annotation-file-button">
                    {{ form.run_annotation_file(style="display:none;", onchange="")}}
                    <span id="run-annotation-file-selector-text">Select File</span>
                </label>
            </div>

            <button type="submit" class="btn btn-success pull-right">Add OTU Profiles</button>
        </form>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Help</strong></div>
            <div class="panel-body">
                <li>Adds <strong>OTU profiles</strong> to the database</li>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block tail %}
<script>
    let species_select = document.getElementById('species_id');
    let study_id_select = document.getElementById('study_id');

    species_select.onchange = function() {
        species_id = species_select.value;

        fetch("{{ url_for('study.get_species_studies', species_id='species_id', study_type='expression_metataxonomics') }}".replace('species_id', species_id)).then(function(response) {
                response.json().then(function(data) {
                    
                    let optionHTML = '';
                   
                    for (let study of data.studies) {
                        optionHTML += '<option value="' + study.id + '">' + study.name + '</option>';
                    }
        
                    study_id_select.innerHTML = optionHTML;
        
            })
        })
    }
    $(function() {
        $("#run_annotation_file").change(function() {
            $('#run-annotation-file-selector-text').html($(this).val().replace(/^.*\\/, '') + ' selected');$('#run-annotation-file-button').toggleClass('btn-default btn-success');
        });
        $("#feature_table_file").change(function() {
            $('#feature-table-file-selector-text').html($(this).val().replace(/^.*\\/, '') + ' selected');$('#feature-table-file-button').toggleClass('btn-default btn-success');
        });
    });
</script>
{{ super() }}
{% endblock%}