{% extends 'admin/my_base.html' %}

{% block body %}
{% if form %}
<h1>Add Taxonomy</h1>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">

        <p>Add file containing GTDB Taxonomy information (e.g. bac120_taxonomy_r220.tsv).</p>
                <form method="POST"  action="{{ url_for('admin_controls.add_taxonomy') }}"  role="form" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <p>File has two columns (GTDB taxonomy id and GTDB taxonomy path).</p>
                <label class="btn btn-default" for="gtdb_taxonomy_data" id="gtdb_taxonomy_data-file-button">
                    {{ form.gtdb_taxonomy_data(style="display:none;", onchange="")}}
                    <span id="file-selector-text-gtdb-taxonomy">Select GTDB Taxonomy</span>
                </label>
            </div>
        <button type="submit" class="btn btn-success pull-right">Add GTDB Taxonomy data</button>

        </form>
    </div>
    <p></p>
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Help</strong></div>
            <div class="panel-body">
                Adds a new taxonomy data to the database.
                <br>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block tail %}
<script src="{{ url_for('static', filename='js/jscolor.min.js') }}"></script>
<script>
    
$(function() {
    $("#gtdb_taxonomy_file").change(function() {
        $('#file-selector-text-gtdb-taxonomy').html($(this).val().replace(/^.*\\/, '') + ' selected');$('#my-file-button-gtdb-taxonomy').toggleClass('btn-default btn-success');
    });
});

</script>
{% endblock %}