.idea/

CoNekT_Grasses_Microbiome/migrations
CoNekT_Grasses_Microbiome/docs/build
CoNekT_Grasses_Microbiome/config.py
CoNekT_Grasses_Microbiome/config_metataxonomics.py
CoNekT_Grasses_Microbiome/scripts/mariadb_credentials.txt

tmp
bin
lib
include
pip-selfcheck.json

/ftp

*.swp
*.*cfg

.coverage

__pycache__/