.idea/

CoNekT_Grasses_Microbiome/migrations
CoNekT_Grasses_Microbiome/docs/build
CoNekT_Grasses_Microbiome/config.py

tmp
bin
lib
include
pip-selfcheck.json

/ftp

*.swp
*.*cfg

.coverage

__pycache__/