{% extends 'base.html' %}

{% block title %}
    {% if otu %}
        {{ otu.original_id }} details
    {% else %}
        OTU not found
    {% endif %}
{% endblock %}

{% block container %}
<div class="top-pad">
        <div class="sidebar-sequence" id="sidebar">
            <p>Jump to ...</p>
            <nav id="navbar-side">
            <ul class="nav nav-pills nav-stacked" data-spy="affix">
              <li><a href="#otu_details">OTU Details</a></li>
              <li><a href="#otu_profile">OTU Profile</a></li>
              <li><a href="#literature">Literature</a></li>
              <li><a href="#taxonomy">Taxonomy</a></li>
              <li><a href="#links">Links</a></li>
            </ul>
            </nav>
        </div>
    {% if otu %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li><a href="{{ url_for('literature.literature_view', literature_id=otu.otu_method.literature_id) }}"><em>Paper</em></a></li>
        <li>OTU</li>
        <li class="active"><strong>{{ otu.original_id }}</strong></li>
    </ol>
    <h1><strong>{{ otu.original_id }}</strong></h1>
    
    <div>
    <p><strong>Sequence :</strong> <a href="{{ url_for('otu.otu_modal', otu_id=otu.id) }}" data-target="#profileModal">OTU representative sequence</a>(<a href="#">download</a>)</p>
    </div>

    <br />
    <br />
    <h3 class="banner-green" id="annotation">Taxonomy Information</h3>
    <div class="panel with-nav-tabs panel-default">
    <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1default" data-toggle="tab">GTDB</a></li>
                <li><a href="#tab2default" data-toggle="tab">GreenGenes</a></li>
                <li><a href="#tab3default" data-toggle="tab">SILVA</a></li>
            </ul>
    </div>
    <div>
        <div class="tab-content">

            <div class="tab-pane fade in active" id="tab1default">
                {% if taxonomy_associations['gtdb']|count > 0 %}
                <div class="table-responsive">
                    <table class="table table-striped table-fixed" id="gtdb_table">
                        <thead>
                            <tr>
                                <th class="col-xs-2" data-sort="string-ins"><span class="sort-icon"></span><abbr title="Click to show help" href="#" data-target="#helpModal">GTDB ID</abbr></th>
                                <th class="col-xs-5" data-sort="string-ins"><span class="sort-icon"></span>Taxonomy Path (Lowest Rank Possible)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-xs-2"><a href="https://gtdb.ecogenomic.org/genome?gid={{ taxonomy_associations['gtdb']['gtdb_id'] | replace('GB_', '') | replace('RS_', '') }}"> {{ taxonomy_associations['gtdb']['gtdb_id'] }} </a></td>
                                <td class="col-xs-5"> {{ taxonomy_associations['gtdb']['taxon_path'] }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="panel-body">
                    <p>No GTDB taxonomy available for this OTU</p>
                </div>
                {% endif %}
            </div>

            <div class="tab-pane fade" id="tab2default">
                {% if taxonomy_associations['gg']|count > 0 %}
                <div class="table-responsive">
                    <table class="table table-striped table-fixed" id="gg_table">
                        <thead>
                            <tr>
                                <th class="col-xs-3" data-sort="string-ins"><span class="sort-icon"></span><abbr title="Click to show help" href="#" data-target="#helpModal">GreenGenes ID</abbr></th>
                                <th class="col-xs-5" data-sort="string-ins"><span class="sort-icon"></span>Taxonomy Path</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-xs-3"><a href="#"> {{ taxonomy_associations['gg']['gg_id'] }} </a></td>
                                <td class="col-xs-5"> {{ taxonomy_associations['gg']['taxon_path'] }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="panel-body">
                    <p>No GreenGenes taxonomy available for this OTU</p>
                </div>
                {% endif %}
            </div>

            <div class="tab-pane fade" id="tab3default">
                {% if taxonomy_associations['silva']|count > 0 %}
                <div class="table-responsive">
                    <table class="table table-striped table-fixed" id=silva_table">
                        <thead>
                            <tr>
                                <th class="col-xs-3" data-sort="string-ins"><span class="sort-icon"></span><abbr title="Click to show help" href="#" data-target="#helpModal">SILVA ID</abbr></th>
                                <th class="col-xs-5" data-sort="string-ins"><span class="sort-icon"></span>Taxonomy Path</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="col-xs-3"><a href="#"> {{ taxonomy_associations['silva']['silva_id'] }} </a></td>
                                <td class="col-xs-5"> {{ taxonomy_associations['silva']['taxon_path'] }} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="panel-body">
                    <p>No SILVA taxonomy available for this OTU</p>
                </div>
                {% endif %}
            </div>
            
            </div>

        </div>
    </div>
    </div>

<div class="modal" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel">
  <div class="modal-dialog" role="document" style="width:1000px;height:800px;">
    <div class="modal-content">

    </div>

  </div>
</div>

    {% endif %}
</div>
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/hammer.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chartjs-plugin-zoom.min.js') }}"></script>

<script>

$(function () {

  $('a[data-target=#profileModal]').click(function(ev) {
    ev.preventDefault();
    var target = $(this).attr("href");

    // load the url and show modal on success
    $("#profileModal .modal-content").load(target, function() {
         $("#profileModal").modal("show");
    });
});

$("#navbar-side a").on('click', function(event) {

  // Make sure this.hash has a value before overriding default behavior
  if (this.hash !== "") {

    // Prevent default anchor click behavior
    event.preventDefault();

    // Store hash
    var hash = this.hash;

    // Using jQuery's animate() method to add smooth page scroll
    // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
    $('html, body').animate({
      scrollTop: $(hash).offset().top - 55
    }, 800, function(){

    // Add hash (#) to URL when done scrolling (default click behavior)
      window.location.hash = hash;
    });

  } // End if

});

})

</script>

{% endblock %}