{% extends 'base.html' %}

{% block title %}
    {% if profile %}
        {% if  profile.otu %}
            {{ profile.otu.original_id }} OTU profile
        {% else %}
            {{ profile.probe }} OTU profile
        {% endif %}
    {% else %}
        No profile found!
    {% endif %}
{% endblock %}

{% block container %}
<div class="top-pad">

    {% if profile %}
    {% if profile.otu %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li>OTU Profile</li>
        <li class="active"><strong>{{ profile.otu.original_id }}</strong></li>
    </ol>
    <h1>OTU profile for <strong><a href="{{url_for('otu.otu_view', otu_id=profile.otu.id)}}">{{ profile.otu.original_id }}</a></strong> <small>({{ profile.probe }})</small></h1>
    {% else %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li>OTU Profile</li>
        <li class="active"><strong>{{ profile.probe }}</strong></li>
    </ol>
    <h1>OTU profile for: <strong>{{ profile.probe }}</strong></h1>
    {% endif %}

    {% if profile.low_abundance %}
    <br />
    <span class="warning-message"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> <strong>Attention:</strong> This gene has <strong><abbr title="Click to show help" href="{{ url_for('help.help_topic', topic='lowabundance') }}" data-target="#helpModal">low abundance</abbr></strong>.</span>
    <br /><br />
    {% endif %}

    <br/>
    {% endif %}
</div>

</div>
{% endblock %}