{% extends 'base.html' %}

{% block title %}Genomic Overview{% endblock %}

{% block container %}
<div class="top-pad">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('overview.paged_statistics') }}">Genomic Overview</a></li>
        <li class="active"><strong>Statistics</strong></li>
    </ol>

    <h1 class="banner-green">PaGeD Statistics</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center"> <!-- Centraliza o conteúdo horizontalmente -->
                <h3 class="total-genomes-title">Total Number of Genomes</h3>
                <div class="total-genomes-container">
                    <p class="total-genomes-value">{{ total_genomes }}</p>
                </div>
            </div>
        </div>
    </div>
               

        <div class="row">
            <!-- Gráfico de Donut para Habitats -->
            <div class="col-md-6">
                <h3>Genome Distribution by Habitat</h3>
                <div id="habitat-chart-container" class="text-center">
                    <canvas id="habitatDonutChart" width="400" height="400"></canvas>
                </div>
            </div>

            <!-- Gráfico de Barras para Tipos de Genoma -->
            <div class="col-md-6">
                <h3>Genome Distribution by Type</h3>
                <div id="type-chart-container" class="text-center">
                    <canvas id="typeBarChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-md-6">
                <h3>Genome Size Distribution</h3>
                <div id="size-chart-container" class="text-center">
                    <canvas id="genomeSizeHistogram" width="400" height="400"></canvas>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Quality Distribution</h3>
                <div id="boxplot-container" class="text-center">
                    <canvas id="qualityBoxPlot" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="col-md-12">
            <h3>Distribution of Contigs vs Genome Size by Genome Type</h3>
            <div id="contigs-scatter-chart-container" class="text-center">
                <canvas id="contigsScatterChart" width="800" height="400"></canvas>
            </div>
            <br>
        <br>
        </div>

        <br>
        <br>
        <br>
        <br>

        <div class="row">
            <!-- Tabela de Níveis Taxonômicos -->
            <div class="col-md-4">
                <h4 class="text-center" style="font-size: 18px;">Number of Distinct Taxonomic Groups</h4>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr style="background-color: rgba(76, 175, 80, 0.2);">
                                <th style="font-size: 14px;">Taxonomic Level</th>
                                <th style="font-size: 14px;">Number of Groups</th>
                            </tr>
                        </thead>
                        <tbody id="taxonomyGroupTableBody" style="font-size: 12px;">
                            <!-- Linhas preenchidas dinamicamente -->
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Tabela de Genomas por ENVO Class -->
            <div class="col-md-4">
                <h4 class="text-center" style="font-size: 18px;">Number of Genomes by ENVO Class</h4>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr style="background-color: rgba(76, 175, 80, 0.2);">
                                <th style="font-size: 14px;">ENVO Class</th>
                                <th style="font-size: 14px;">Number of Genomes</th>
                            </tr>
                        </thead>
                        <tbody id="envoClassTableBody" style="font-size: 12px;">
                            <!-- Linhas preenchidas dinamicamente -->
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Tabela de Genomas por País -->
            <div class="col-md-4">
                <h4 class="text-center" style="font-size: 18px;">Number of Genomes by Country</h4>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered table-striped">
                        <thead class="thead-dark">
                            <tr style="background-color: rgba(76, 175, 80, 0.2);">
                                <th style="font-size: 14px;">Country</th>
                                <th style="font-size: 14px;">Number of Genomes</th>
                            </tr>
                        </thead>
                        <tbody id="countryTableBody" style="font-size: 12px;">
                            <!-- Linhas preenchidas dinamicamente -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

       
        <br>
        <br>
        <br>
        <br>
        

        <div class="row">
            <div class="col-md-12 center-content">
                <h3 class="total-publications-title">Total Number of Publications</h3>
                <p id="totalPublications" class="total-publications-value">Loading...</p>
            </div>
        </div>
        
        <div class="row"></div>
            <div class="col-md-12">
                <h3>Genome Counts by Publication Year</h3>
                <div id="genomes-chart-container" class="text-center">
                    <canvas id="genomesChart" width="800" height="400"></canvas>
                </div>
            </div>
        </div>
        
                  
    </div>
        
        

</div>
{% endblock %}

{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<script src="https://cdn.jsdelivr.net/npm/@sgratzl/chartjs-chart-boxplot@4.4.1/build/index.umd.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    async function fetchData(url) {
        try {
            const response = await fetch(url);
            if (!response.ok) throw new Error('Network response was not ok');
            return await response.json();
        } catch (error) {
            console.error('Fetch error:', error);
            return {};
        }
    }

    function renderDonutChart(data, elementId, labelKey, dataKey) {
    const ctx = document.getElementById(elementId).getContext('2d');
    const labels = data.map(item => item[labelKey]);
    const counts = data.map(item => item[dataKey]);

    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: labels,
            datasets: [{
                data: counts,
                backgroundColor: ['#4287f5', '#42f5d7', '#4ef542', '#cbf542', '#f5b642', '#f56342', '#f542ef', '#f54293'],
                borderWidth: 1
            }]
        },
        options: {
            plugins: {
                datalabels: {
                    color: '#fff',
                    formatter: (value, ctx) => {
                        return ctx.chart.data.labels[ctx.dataIndex] + ': ' + value.toFixed(2) + '%';
                    }
                }
            }
        },
        plugins: [ChartDataLabels]
    });
}


    function renderBarChart(data, elementId, labelKey, dataKey) {
        const ctx = document.getElementById(elementId).getContext('2d');
        const labels = data.map(item => item[labelKey]);
        const counts = data.map(item => item[dataKey]);

        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Proportion (%)',
                    data: counts,
                    backgroundColor: '#36A2EB'
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            callback: function(value) { return value + "%"; }
                        }
                    }
                },
                plugins: {
                    datalabels: {
                        anchor: 'end',
                        align: 'top',
                        formatter: (value) => value.toFixed(2) + '%'
                    }
                }
            },
            plugins: [ChartDataLabels]
        });
    }

    

    function renderViolinPlot(data) {
        const ctx = document.getElementById('qualityBoxPlot').getContext('2d');

        new Chart(ctx, {
            type: 'violin',
            data: {
                labels: ['Genome Quality'],
                datasets: [
                    {
                        label: 'Completeness',
                        data: [data.completeness], // Dados para o box plot de completeness
                        backgroundColor: 'rgba(54, 162, 235, 0.5)',  // Cor azul com transparência
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1,
                        outlierBackgroundColor: 'rgba(128, 128, 128, 0.5)', // Pontos em cinza com transparência
                        outlierRadius: 3
                    },
                    {
                        label: 'Contamination',
                        data: [data.contamination], // Dados para o box plot de contamination
                        backgroundColor: 'rgba(255, 99, 132, 0.5)',  // Cor vermelha com transparência
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1,
                        outlierBackgroundColor: 'rgba(128, 128, 128, 0.5)', // Pontos em cinza com transparência
                        outlierRadius: 3
                    }
                ]
            },
            options: {
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: ''
                        },
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Percentage (%)'
                        },
                        min: 0,
                        max: 100
                    }
                },
                plugins: {
                    legend: {
                        display: true
                    }
                }
            }
        });
    }
    function renderHistogram(data) {
    const ctx = document.getElementById('genomeSizeHistogram').getContext('2d');

    // Definir as faixas de tamanho em ordem correta
    const orderedLabels = ['< 1 Mbp', '1 - 2 Mbp', '2 - 3 Mbp', '3 - 4 Mbp', '4 - 5 Mbp', 
                           '5 - 6 Mbp', '6 - 7 Mbp', '7 - 8 Mbp', '8 - 9 Mbp', '> 9 Mbp'];

    // Reorganize os dados conforme a ordem das faixas
    const counts = orderedLabels.map(label => data[label] || 0);

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: orderedLabels,
            datasets: [{
                label: 'Number of Genomes',
                data: counts,
                backgroundColor: '#36A2EB'
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        display: true,
                        text: 'Number of Genomes'
                    }
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                datalabels: {
                    display: false
                }
            }
        },
        plugins: [ChartDataLabels]
    });
}
function renderYearlyGenomesChart(data) {
    const ctx = document.getElementById('genomesChart').getContext('2d');

    const years = data.map(item => item.year);
    const genomeCounts = data.map(item => item.genome_count);

    new Chart(ctx, {
        type: 'bar',
        data: {
            labels: years,
            datasets: [{
                label: 'Number of Genomes',
                data: genomeCounts,
                backgroundColor: 'rgba(75, 192, 192, 0.5)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Year'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Number of Genomes'
                    },
                    beginAtZero: true
                }
            }
        }
    });
}
function renderContigsScatterPlot(data) {
    const ctx = document.getElementById('contigsScatterChart').getContext('2d');

    const colors = {
        'isolate': 'rgba(75, 192, 192, 0.7)',
        'MAG': 'rgba(153, 102, 255, 0.7)',
        'SAG': 'rgba(255, 159, 64, 0.7)'
    };

    const datasets = Object.keys(data).map(type => ({
        label: type.charAt(0).toUpperCase() + type.slice(1),
        data: data[type].map(point => ({ x: point.x, y: point.y })),
        backgroundColor: colors[type],
        borderColor: colors[type],
        borderWidth: 1,
        pointRadius: 5
    }));

    new Chart(ctx, {
        type: 'scatter',
        data: {
            datasets: datasets
        },
        options: {
            scales: {
                x: {
                    title: {
                        display: true,
                        text: 'Number of Contigs'
                    }
                },
                y: {
                    title: {
                        display: true,
                        text: 'Genome Size (Mbp)'
                    },
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: true
                }
            }
        }
    });
}

async function loadTaxonomyGroupCounts() {
        try {
            const response = await fetch("{{ url_for('overview.get_taxonomy_group_counts') }}");
            const data = await response.json();

            const tableBody = document.getElementById('taxonomyGroupTableBody');
            tableBody.innerHTML = '';  // Limpa a tabela antes de preencher

            // Ordem dos níveis taxonômicos
            const taxonomicLevels = ['Domain', 'Phylum', 'Class', 'Order', 'Family', 'Genus', 'Species'];

            // Preenche as linhas da tabela com os dados na ordem correta
            taxonomicLevels.forEach(level => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td><strong>${level}</strong></td>
                    <td>${data[level] || 0}</td>
                `;
                tableBody.appendChild(row);
            });
        } catch (error) {
            console.error('Error loading taxonomy group counts:', error);
        }
    }

    // Função para buscar e renderizar os dados de contagem por ENVO Class
    async function loadEnvoClassCounts() {
        try {
            const response = await fetch("{{ url_for('overview.get_genome_count_by_envo_class') }}");
            const data = await response.json();

            const tableBody = document.getElementById('envoClassTableBody');
            tableBody.innerHTML = '';  // Limpa a tabela antes de preencher

            // Preenche as linhas da tabela com os dados
            data.forEach(item => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td><strong>${item.envo_class || 'N/A'}</strong></td>
                    <td>${item.genome_count}</td>
                `;
                tableBody.appendChild(row);
            });
        } catch (error) {
            console.error('Error loading ENVO Class counts:', error);
        }
    }

    // Função para buscar e renderizar os dados de contagem por país
    async function loadCountryCounts() {
        try {
            const response = await fetch("{{ url_for('overview.get_genome_count_by_country') }}");
            const data = await response.json();

            const tableBody = document.getElementById('countryTableBody');
            tableBody.innerHTML = '';  // Limpa a tabela antes de preencher

            // Preenche as linhas da tabela com os dados
            data.forEach(item => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td><strong>${item.country || 'N/A'}</strong></td>
                    <td>${item.genome_count}</td>
                `;
                tableBody.appendChild(row);
            });
        } catch (error) {
            console.error('Error loading country counts:', error);
        }
    }

    
async function loadContigsData() {
    const response = await fetch("{{ url_for('overview.get_contigs_distribution') }}");
    const data = await response.json();

    // Renderizar o gráfico
    renderContigsScatterPlot(data);
}

async function loadYearlyGenomesData() {
    const response = await fetch("{{ url_for('overview.get_genomes_by_year') }}");
    const data = await response.json();

    // Renderizar o gráfico
    renderYearlyGenomesChart(data.data);

    // Atualizar o texto com o número total de publicações
    document.getElementById('totalPublications').textContent = `${data.total_publications}`;
}



    async function loadSizeData() {
        const data = await fetchData("{{ url_for('overview.get_genome_size_distribution') }}");
        renderHistogram(data, 'sizeHistogram');
}


    async function loadQualityData() {
        const data = await fetchData("{{ url_for('overview.get_genome_quality_distribution') }}");

        console.log(data); // Verifique se os dados estão corretos no console
        renderViolinPlot(data);
    }

    async function loadHabitatData() {
        const data = await fetchData("{{ url_for('overview.get_genome_count_by_habitat') }}");
        renderDonutChart(data, 'habitatDonutChart', 'envo_class', 'genome_proportion');
    }

    async function loadTypeData() {
        const data = await fetchData("{{ url_for('overview.get_genome_count_by_type') }}");
        renderBarChart(data, 'typeBarChart', 'genome_type', 'proportion');
    }

    (async function() {
        await loadTaxonomyGroupCounts();  // Carregar e renderizar a tabela de grupos taxonômicos
        await loadEnvoClassCounts();  // Carregar e renderizar a tabela de ENVO Class
        await loadCountryCounts();  // Carregar e renderizar a tabela de países
        await loadYearlyGenomesData();
        await loadContigsData();
        await loadHabitatData();
        await loadTypeData();
        await loadQualityData();
        await loadSizeData();
    
})();
 
</script>
{% endblock %}