{% extends 'base.html' %}

{% block title %}Species Genomes{% endblock %}

{% block container %}
<div class="top-pad">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('taxonomy_explorer.genome_counts_page') }}">Taxonomy Explorer</a></li>
        <li class="active"><strong>Species Genomes</strong></li>
    </ol>

    <!-- Beautiful banner displaying the species name -->
    <div class="banner-green text-center" style="padding: 20px; background-color: #4CAF50; color: white;">
        <h1>{{ species_name }}</h1>
        <p>Explore detailed genomic data for <strong>{{ species_name }}</strong></p>
        <p><em>{{ taxon_path }}</em></p>  <!-- Exibindo o taxon path aqui -->
    </div>

    <!-- "Back to Chart" Button -->
    <div class="text-center" style="margin-bottom: 20px;">
        <a href="{{ url_for('taxonomy_explorer.genome_counts_page') }}" class="btn btn-primary">
            Back to Chart
        </a>
    </div>

    <!-- Mapa interativo -->
    <div id="map" style="height: 400px; margin-bottom: 20px;"></div>

    <div class="container">
        <!-- Table displaying genomes with new fields -->
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Genome ID</th>
                            <th scope="col">Genome Type</th>
                            <th scope="col">Country</th>
                            <th scope="col">Location</th>
                            <th scope="col">Envo Class</th>
                            <th scope="col">Envo Annotation</th>
                            <th scope="col">NCBI Accession</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for genome in genomes %}
                        <tr>
                            <td>{{ genome.genome_id }}</td>
                            <td>{{ genome.genome_type }}</td>
                            <td>{{ genome.country or 'N/A' }}</td>
                            <td>{{ genome.local or 'N/A' }}</td>
                            <td>{{ genome.envo_class or 'N/A' }}</td>
                            <td>{{ genome.envo_annotation or 'N/A' }}</td>
                            <td>
                                {% if genome.ncbi_accession and genome.ncbi_accession != 'ND' %}
                                    <a href="https://www.ncbi.nlm.nih.gov/datasets/genome/{{ genome.ncbi_accession }}" target="_blank">{{ genome.ncbi_accession }}</a>
                                {% else %}
                                    {{ genome.ncbi_accession or 'N/A' }}
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<!-- Include Leaflet.js -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<script>
    // Mapa Leaflet
    var map = L.map('map').setView([0, 0], 2); // Coordenadas e zoom inicial

    // Adiciona camada do mapa (OpenStreetMap)
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

     // Definir cores para cada envo_class
     var classColors = {
        'Oil reservoir': 'darkblue',
        'Oil field': 'navy',
        'Oil reservoir offshore': 'cornflowerblue',
        'Activated Sludge, Bioreactor': 'limegreen',
        'Oil polluted sediment': 'orange',
        'Not reported': 'gray',
        'Oil polluted soil': 'saddlebrown',
        'Host-associated': 'red',
        'Lab experiment': 'purple',
        'Oil refinery': 'darkorange',
        'Bioremediation': 'green',
        'Soil': 'green',
        'Oil spill offshore': 'lightblue',
        'Fracturing fluids': 'purple',
        'Sea water': 'deepskyblue',
        'Hydrothermal vent sediments': 'darkslategray',
        'Sea water microcosms': 'aquamarine',
        'Oil polluted sea water': 'dodgerblue',
        'MIC': 'crimson',
        'Tailing pond': 'lightseagreen',
        'Crude oil': 'black',
        'Machinery Facilities': 'gold',
        'Wastewater': 'turquoise',
        'Formation water': 'blue',
        'Water': 'royalblue',
        'Hot springs': 'red',
        'Crude oil microcosms': 'black',
        'Deep sea sediments seepage': 'darkcyan',
        'Groundwater': 'teal',
        'Microcosms': 'orchid',
        'Deep sea water': 'mediumblue',
        'Tar': 'sienna',
        'Oil polluted mangrove': 'forestgreen',
        'Marine sediment': 'lightcoral',
        'Produced water': 'lightsteelblue',
        'Injection water': 'lightskyblue',
        'Oil polluted water': 'dodgerblue',
        'Sediment': 'peru',
        'Water-oil': 'darkolivegreen',
        'MIC-biofilm': 'darkred',
        'Sediment microcosms': 'darkgoldenrod',
        'Soil enriched microcosms': 'darkgreen',
        'Vulcano': 'darkorange',
        'in-situ microcosms': 'mediumpurple',
        'Biofuel polluted soil': 'maroon',
        'Unpolluted samples': 'lightgray',
        'Deep sea sediment microcosms': 'mediumturquoise',
        'Sediment enriched microcosms': 'olive',
        'gas seeps': 'chartreuse',
        'Engineered': 'orchid',
        'Aquatic': 'cyan',
        'Terrestrial': 'brown',
        'Marine': 'blue',
        'Other': 'magenta'  // Fallback para classes não especificadas
    };


    // Lista de genomas com coordenadas e envo_class
    var genomesWithCoordinates = [
        {% for genome in genomes if genome.lat is not none and genome.lon is not none %}
            {
                "genome_id": "{{ genome.genome_id }}",
                "lat": {{ genome.lat }},
                "lon": {{ genome.lon }},
                "local": "{{ genome.local or 'Unknown location' }}",
                "envo_class": "{{ genome.envo_class or 'Other' }}"
            }
            {% if not loop.last %}, {% endif %}
        {% endfor %}
    ];

    // Adiciona marcadores no mapa para cada genoma com coordenadas
    genomesWithCoordinates.forEach(function(genome) {
        var envoClass = genome.envo_class;
        var markerColor = classColors[envoClass];  // Obtém a cor correspondente ao envo_class

        // Cria o marcador com a cor baseada no envo_class
        var marker = L.circleMarker([genome.lat, genome.lon], {
            color: markerColor,
            radius: 8,
            fillOpacity: 0.7
        }).addTo(map);

        // Adiciona popup ao marcador
        marker.bindPopup("<b>" + genome.genome_id + "</b><br>" + genome.local + "<br>Class: " + envoClass);
    });
</script>
{% endblock %}
