{% extends 'base.html' %}

{% block title %}
    {% if study %}
        {{ study.name }} details
    {% else %}
        Study not found
    {% endif %}
{% endblock %}

{% block container %}

<div class="top-pad">

    {% if study %}
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.screen') }}">Home</a></li>
            <li><a href="{{ url_for('studies.studies_overview') }}">Studies</a></li>
            <li class="active"><strong><em>{{ study.name }}</em></strong></li>
        </ol>
        <h1><strong><em>{{ study.name }}</em></strong></h1>

        {% if description %}
            {{ description }}
            <br />
        {% endif %}
        <br />

        {{ macro.pagination('RNA-Seq Dataset Papers', url_for('species.species_expression_papers', species_id=species.id), 0, none, 'species') }}

    {% elif all_studies %}
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.screen') }}">Home</a></li>
            <li class="active"><strong>Studies</strong></li>
        </ol>
         <h1>Studies Overview</h1>

         <div class="table-responsive">
            <table class="table table-separated" style="margin-bottom:100px;" id="species_table">
                <thead>
                    <tr>
                        {% if g.debug %}<th data-sort="int"><span class="sort-icon"></span>ID</th>{% endif %}
                        <th data-sort="string-ins"><span class="sort-icon"></span>Name</th>
                        <th data-sort="int"><span class="sort-icon"></span>Transcripts</th>
                        <th data-sort="int"><span class="sort-icon"></span>Profiles</th>
                        <th data-sort="int"><span class="sort-icon"></span>Networks</th>
                        <th>Actions</th>
                        <th> <a href = "{{url_for('main.data_resources')}}"> Data Source </a> and Reference </th>
                        <th>Genome/Transcriptome version</th>
                    </tr>
                </thead>
                <tbody>
                {% for s in all_species  %}
                    <tr>
                        {% if g.debug %}<td>{{ s.id }}</td>{% endif %}
                        <td><em><a href="{{ url_for('species.species_view', species_id=s.id) }}">{{ s.name }}</a></em> <span class="'text-muted">({{ s.code }})</span></td>
                        <td>{{ s.sequence_count }}</td>
                        <td>{{ s.profile_count }}</td>
                        {% if s.network_count > 0 %}
                        <td><a href="{{url_for('expression_network.expression_network_species', species_id=s.id)}}">{{ s.network_count }}</a></td>
                        {% else %}
                        <td><span class="text-muted">0</span></td>
                        {% endif %}
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Download  <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a href="{{url_for('species.species_stream_coding', species_id=s.id)}}" download="{{s.code}}.cds.fasta">Coding Sequences</a></li>
                                    <li><a href="{{url_for('species.species_stream_protein', species_id=s.id)}}" download="{{s.code}}.aa.fasta">Protein Sequences</a></li>
                                    <li><a href="{{url_for('species.species_stream_rna', species_id=s.id)}}" download="{{s.code}}.rna.fasta">RNA Sequences</a></li>
                                    <li class="dropdown-header">Networks</li>
                                    {% for n in s.networks %}
                                    <li><a href="{{ url_for('expression_network.expression_network_export', method_id=n.id) }}" download="network_{{n.id}}.tab">{{ n.description }}</a></li>
                                    {% else %}
                                    <li class="text-muted">No network found</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </td>
                        <td>
                            {{ s.source }}
                            {% if s.paper_doi %}
                                <a href = "http://doi.org/{{ s.paper_doi }}">({{ s.paper_author_names }}, {{ s.paper_public_year }})</a>
                            {% endif %}
                        </td>
                        <td> {{ s.genome_version }} </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
         </div>
    {% endif %}
</div>

{% endblock %}