{% extends 'base.html' %}

{% block title %}
    {% if study %}
        {{ study.name }} details
    {% else %}
        Study not found
    {% endif %}
{% endblock %}

{% block container %}
{% import 'macros/pagination.html' as macro %}

<div class="top-pad">

    {% if study %}
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.screen') }}">Home</a></li>
            <li><a href="{{ url_for('study.studies_overview') }}">Studies</a></li>
            <li class="active"><strong><em>{{ study.name }}</em></strong></li>
        </ol>
        <h1><strong><em>{{ study.name }}</em></strong></h1>

        {% if description %}
            {{ description }}
            <br />
        {% endif %}
        <br />
    
        {{ macro.pagination('OTUs', url_for('study.study_otus', study_id=study.id), 0, none, 'otus') }}

    {% elif all_studies %}
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.screen') }}">Home</a></li>
            <li class="active"><strong>Studies</strong></li>
        </ol>
         <h1>Studies Overview</h1>

         <div class="table-responsive">
            <table class="table table-separated" style="margin-bottom:100px;" id="studies_table">
                <thead>
                    <tr>
                        {% if g.debug %}<th data-sort="int"><span class="sort-icon"></span>ID</th>{% endif %}
                        <th data-sort="string-ins"><span class="sort-icon"></span>Species</th>
                        <th data-sort="string-ins"><span class="sort-icon"></span>Type</th>
                        <th data-sort="string-ins"><span class="sort-icon"></span>Name</th>
                        <th data-sort="string-ins"><span class="sort-icon"></span>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for s in all_studies  %}
                    <tr>
                        {% if g.debug %}<td>{{ s.id }}</td>{% endif %}
                        <td>species XXX</td>
                        <td>type YYYY</td>
                        <td>name UUUU</td>
                        <td>description JJJJJ</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
         </div>
    {% endif %}
</div>

{% endblock %}

{% block extrajs %}
    
{% endblock %}