<!-- overview.html -->

{% extends 'base.html' %}

{% block title %}Taxonomy Explorer{% endblock %}

{% block container %}
<div class="top-pad">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('taxonomy_explorer.genome_counts_page') }}">Taxonomy Explorer</a></li>
        <li class="active"><strong>Doughnut Chart</strong></li>
    </ol>

    <h1 class="banner-green">Taxonomy Explorer</h1>

    <div class="container">
        <div class="row">
            <!-- Lista interativa -->
            <div class="col-md-4">
                <div id="taxonomy-list" class="list-group" style="height: 400px; overflow-y: auto;">
                    <!-- Os itens da lista serão gerados dinamicamente -->
                </div>
            </div>
    
            <!-- Gráfico de Donut -->
            <div class="col-md-8">
                <button id="back-button" class="btn btn-secondary" style="display: none;"></button>
                <div id="chart-container" class="text-center" style="max-width: 1000px; margin: 0 auto;">
                    <canvas id="donutChart" width="600" height="600"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

<script>
    let history = [];
    let currentLevel = 'domain';
    let parentName = '';

    async function fetchTaxonomicData(level, parent = '') {
        try {
            const response = await fetch(`/taxonomy_explorer/genome_counts/${level}?parent=${parent}`);
            if (!response.ok) {
                throw new Error(`Failed to fetch data for level ${level}`);
            }
            const data = await response.json();
            return {
                all: data.all,
                top_10: data.top_10
            };
        } catch (error) {
            console.error('Error fetching and parsing JSON data', error);
            return { all: [], top_10: [] };
        }
    }

    function createTaxonomyList(data, level) {
        const listContainer = document.getElementById('taxonomy-list');
        listContainer.innerHTML = '';

        data.sort((a, b) => b.count - a.count);

        data.forEach(item => {
            const listItem = document.createElement('a');
            listItem.href = '#';
            listItem.className = 'list-group-item list-group-item-action d-flex justify-content-between align-items-center';
            listItem.innerHTML = `
                <div>
                    <strong>${item.name}</strong>
                    <small class="text-muted">${level}</small>
                </div>
                <span class="badge badge-primary badge-pill">${item.count}</span>
            `;
            listItem.onclick = () => updateChartAndList(item.name, level);
            listContainer.appendChild(listItem);
        });
    }

    async function updateChartAndList(name, previousLevel) {
        const levels = ['domain', 'phylum', 'Class', 'order', 'family', 'genus', 'species'];
        const currentLevelIndex = levels.indexOf(previousLevel) + 1;

        if (currentLevelIndex >= levels.length) {
            return;
        }

        const nextLevel = levels[currentLevelIndex];
        const { all, top_10 } = await fetchTaxonomicData(nextLevel, name);

        if (all.length === 0) {
            console.error('No data available for the next level');
            return;
        }

        history.push({ level: previousLevel, name: parentName });
        currentLevel = nextLevel;
        parentName = name;

        createTaxonomyList(all, nextLevel);
        updateDonutChart(top_10);
        updateBackButton();
    }

    function updateBackButton() {
        const backButton = document.getElementById('back-button');
        if (history.length > 0) {
            const last = history[history.length - 1];
            backButton.style.display = 'inline';
            backButton.textContent = `Back to ${last.name} (${last.level})`;
        } else {
            backButton.style.display = 'none';
        }
    }

    async function goBack() {
        if (history.length > 0) {
            const previous = history.pop();
            currentLevel = previous.level;
            parentName = previous.name;
            
            const { all, top_10 } = await fetchTaxonomicData(currentLevel, parentName);
            createTaxonomyList(all, currentLevel);
            updateDonutChart(top_10);
            updateBackButton();
        }
    }

    // Função para criar ou atualizar o gráfico de Donut
function updateDonutChart(data) {
    const ctx = document.getElementById('donutChart').getContext('2d');
    const labels = data.map(item => item.name);
    const counts = data.map(item => item.count);
    const total = counts.reduce((sum, count) => sum + count, 0);

    if (window.donutChartInstance) {
        window.donutChartInstance.destroy();
    }

    window.donutChartInstance = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: labels,
            datasets: [{
                data: counts,
                backgroundColor: [
                    'rgb(210,69,149, 0.6)',
                    'rgb(126,163,66, 0.6)',
                    'rgb(162,89,199, 0.6)',
                    'rgb(74,170,126, 0.6)',
                    'rgb(203,83,54, 0.6)',
                    'rgb(100,108,198, 0.6)',
                    'rgb(193,139,65, 0.6)',
                    'rgb(91,158,212, 0.6)',
                    'rgb(196,91,108, 0.6)',
                    'rgb(190,125,186, 0.6)'
                ],
                borderColor: [
                    'rgb(210,69,149, 1)',
                    'rgb(126,163,66, 1)',
                    'rgb(162,89,199, 1)',
                    'rgb(74,170,126, 1)',
                    'rgb(203,83,54, 1)',
                    'rgb(100,108,198, 1)',
                    'rgb(193,139,65, 1)',
                    'rgb(91,158,212, 1)',
                    'rgb(196,91,108, 1)',
                    'rgb(190,125,186, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            layout: {
                padding: {
                    top: 20,
                    bottom: 20,
                    left: 20,
                    right: 20
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                datalabels: {
                    display: true,
                    color: '#000',
                    backgroundColor: function(context) {
                        return context.dataset.backgroundColor[context.dataIndex];
                    },
                    borderRadius: 4,
                    padding: 4,
                    align: function(context) {
                        // Tenta alinhar os datalabels mais próximos do centro da fatia
                        return context.dataset.data[context.dataIndex] < (0.05 * total) ? 'center' : 'center';
                    },
                    anchor: function(context) {
                        // Define o ponto de ancoragem dos datalabels para o centro
                        return 'center';
                    },
                    clip: true,
                    formatter: function(value, context) {
                        const percentage = ((value / total) * 100).toFixed(2);
                        return `${context.chart.data.labels[context.dataIndex]}: ${value} (${percentage}%)`;
                    },
                    font: {
                        weight: 'bold',
                        size: 10
                    },
                    rotation: function(context) {
                        return context.dataset.data[context.dataIndex] < (0.05 * total) ? 60 : 0;
                    },
                    overlap: false,
                }
            }
        },
        plugins: [ChartDataLabels]
    });
}

    window.onload = async function() {
        const { all, top_10 } = await fetchTaxonomicData('domain');
        createTaxonomyList(all, 'domain');
        updateDonutChart(top_10);
    };

    document.getElementById('back-button').addEventListener('click', goBack);
</script>
{% endblock %}
