{% extends 'base.html' %}

{% block title %}
    CoNekT - About
{% endblock %}

{% block container %}
<div class="top-pad">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li class="active"><strong>About</strong></li>
    </ol>
    <h1>About CoNekT PaGeD Microbiome</h1>
    <br />
    <p>CoNekT PaGeD Microbiome is being developed by the Group of Microbial Ecology and Multi-omics <a href="https://gemmlabbr.gitlab.io/site/index.html">GEMM</a>, University of Campinas. 


     

    <h1 class="banner-green">Funding Agencies</h1>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 hidden-xs"><a href="https://petrobras.com.br/" target="_blank"><img alt="petrobras picture" class="rounded" style="width: 100%; height: auto; margin-top: 20px;"  src="{{ url_for('static', filename='img/funding/Logo_petrobras.png') }}"></a>
        </div>
        
                             
    </div>
    <h1 class="banner-green">Institutional Support</h1>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 hidden-xs"><a href="https://www.unicamp.br" target="_blank"><img alt="unicamp picture" class="rounded" style="width: 100%; height: auto; margin-top: 20px;"  src="{{ url_for('static', filename='img/funding/logo_unicamp.png') }}"></a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 hidden-xs"><a href="https://gemmlabbr.gitlab.io/site/index.html" target="_blank"><img alt="gemm picture" class="rounded" style="width: 100%; height: auto; margin-top: 20px;" src="{{ url_for('static', filename='img/funding/gemm_logo.png') }}"></a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 hidden-xs"><a href="https://site.cpqba.unicamp.br/" target="_blank"><img alt="cpqba picture" class="rounded" style="width: 100%; height: auto; margin-top: 20px;" src="{{ url_for('static', filename='img/funding/logo_cpqba.png') }}"></a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 hidden-xs"><a href="https://www.cena.usp.br" target="_blank"><img alt="cena picture" class="rounded" style="width: 100%; height: auto; margin-top: 20px;" src="{{ url_for('static', filename='img/funding/logo_cena_250x250.png') }}"></a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-4 hidden-xs"><a href="https://labbces.netlify.app/" target="_blank"><img alt="bces picture" class="rounded" style="width: 100%; height: auto; margin-top: 20px;" src="{{ url_for('static', filename='img/funding/bces_logo_250x250.png') }}"></a>
        </div>
                               
    </div>
    
    
    <h1 class="banner-green">Computer Resources</h1>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-4 hidden-xs"><a href="https://gemmlabbr.gitlab.io/site/index.html" target="_blank"><img alt="gemm picture" class="rounded" style="width: 100%; height: auto; margin-top: 20px;" src="{{ url_for('static', filename='img/funding/gemm_logo.png') }}"></a>
        </div>
    </div>
    
</div>

{% endblock %}
