{% extends 'base.html' %}

{% block title %}
    CoNekT Metataxonomics - Disclaimer
{% endblock %}

{% block container %}
<div class="top-pad">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li class="active"><strong>Disclaimer</strong></li>
    </ol>
    <h1>Disclaimer</h1>

    <p><a href="{{ url_for('main.screen') }}">CoNekT Metataxonomics</a> is in its initial planning phase.</p>

    <p>By using this site, you agree to the <a href="{{ url_for('main.privacy_policy') }}" class="text-muted">Privacy policy</a>.</p>
</p>
</div>

</div>
{% endblock %}
