{% extends 'base.html' %}

{% block title %}
    PaGeD - Features
{% endblock %}

{% block container %}
<div class="top-pad">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li class="active"><strong>Features</strong></li>
    </ol>
    <h1>PaGeD Features</h1>

    <h3 class="banner-green" >Search</h3>

    <p>PaGeD comes packed with functions to quickly find relevant data.</p>

    <h3 class="banner-green" >Tools</h3>

    <p>Tools allow users to either compare data included in PaGeD.</p>
    <div class="row equal">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 panel-card" >
            <div class="panel panel-default">
                <div class="panel-heading">Compare profiles</div>
                <a href="#">
                    <img class="img-responsive img-card" src="{{ url_for('static', filename='img/cards/profile_comparison.png') }}" />
                </a>
                <div class="panel-body">
                    <p>Allows users to <strong>compare the expression profiles</strong> from a custom set of genes in a graph</p>
                </div>
            </div>
        </div>

    </div>

</div>

</div>
{% endblock %}
