{% extends 'base.html' %}

{% block title %}
    Custom Network
{% endblock %}

{% block container %}
<div class="top-pad">
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li><a href="{{ url_for('main.features') }}">Tools</a></li>
        <li class="active"><strong>Custom Microbiome Co-occurence Network</strong></li>
    </ol>
<h1>Custom network</h1>
    <p>Using the form below you can draw a network which only included selected microbes (OTUs)
    in a specific study. Edges will represent associations between microbes.</p>
<div class="row">
    <div class="col-md-6 col-md-offset-1 col-xs-8">
        <div class="panel panel-primary">
            <div class="panel-heading"><strong>Options</strong></div>
            <div class="panel-body">
                <form method="POST"  action="{{ url_for('micro_custom_network.cooccurrence_network') }}"  role="form">
                    {{ form.csrf_token }}
                    <label>Species</label>
                    {{form.species_id(class_="form-control")}}<br/>
                    <label>Study</label>
                    {{form.study_id(class_="form-control")}}<br/>
                    <label>Sample Group</label>
                    {{form.sample_group(class_="form-control")}}<br/>
                    <label>Method</label>
                    {{form.method_id(class_="form-control")}}<br/>
                    <label>Enter OTU IDs:</label><br />
                    {{form.otu_probes(class_="form-control") }}<br />
                    <button type="submit" class="btn btn-primary"  data-toggle="modal" data-target="#loaderModal">Draw network</button>
                    </div>
                </form>
            </div>
        </div>
    <div class="col-md-4 col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Help</strong></div>
            <div class="panel-body">
                <ul>
                    <li>Select the <strong>species</strong> first. This will enable a list of studies for this species in next selector.</li>
                    <li>Next select a <strong>study</strong>. Note that studies are formed by combinations of runs from different literature sources.</li>
                    <li>Next select a <strong>sample group</strong> available for that particular study.</li>
                    <li>Next select a <strong>method</strong>. Methods can be SparCC or Spiec-Easi (whichever is available), to associate OTUs in a study.</li>
                    <li>Next enter a list of <strong>OTU IDs</strong>.</li>
                    <li>Click <strong>Draw network</strong></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block extrajs %}
<script>
    let species_select = document.getElementById('species_id');
    let study_id_select = document.getElementById('study_id');
    let sample_group_select = document.getElementById('sample_group');
    let method_select = document.getElementById('method_id');
    
    species_select.onchange = function() {
        species_id = species_select.value;
        
        fetch("{{ url_for('study.get_species_studies', species_id='species_id', study_type='expression_metataxonomics') }}".replace('species_id', species_id)).then(function(response) {
            response.json().then(function(data) {
                
                let optionHTML = '';
                
                optionHTML += '<option value="' + 0 + '">' + 'Select Study first' + '</option>';

                for (let study of data.studies) {
                    optionHTML += '<option value="' + study.id + '">' + study.name + '</option>';
                }
    
                study_id_select.innerHTML = optionHTML;
    
            })
        })
    }

    study_id_select.onchange = function() {
        study_id = study_id_select.value;
        
        fetch("{{ url_for('study.get_sample_group_names', study_id='study_id') }}".replace('study_id', study_id)).then(function(response) {
            response.json().then(function(data) {
                
                let optionHTML = '';
                
                optionHTML += '<option value="' + 0 + '">' + 'Select Group First' + '</option>';
                optionHTML += '<option value="' + 'whole study' + '">' + 'Whole Study' + '</option>';

                for (let group_info of data.sample_group_names) {
                    optionHTML += '<option value="' + group_info.group_name + '">' + group_info.group_name + " (" + group_info.group_type + ")" + '</option>';
                }
    
                sample_group_select.innerHTML = optionHTML;
    
            })
        })
    }

    sample_group_select.onchange = function() {
        sample_group = sample_group_select.value;

        console.log(sample_group, study_id);
        
        fetch("{{ url_for('micro_custom_network.sample_group_methods', study_id='study_id', sample_group_selection='sample_group_selection') }}".replace('study_id', study_id).replace('sample_group_selection', sample_group)).then(function(response) {
            response.json().then(function(data) {
                
                let optionHTML = '';
                
                optionHTML += '<option value="' + 0 + '">' + 'Select Method First' + '</option>';

                for (let association_method of data.association_methods) {
                    optionHTML += '<option value="' + association_method.id + '">' + association_method.tool_name + " (" + association_method.method + ")" + '</option>';
                }
    
                method_select.innerHTML = optionHTML;
    
            })
        })
    }

</script>
{% endblock %}