{% extends 'base.html' %}

{% block title %}
        OTU Profile Specificity
{% endblock %}

{% block container %}
<div class="top-pad">

    {% if otus_profiles %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li><a href="{{ url_for('main.features') }}">Tools</a></li>
        <li><a href="{{ url_for('otus_profile.find_specific_profiles') }}">Identify OTUs specific to groups in a Study</a></li>
        <li class="active"><strong>Results</strong></li>
    </ol>

    <h1>OTU profile specificity</h1>

    <div id="canvas-holder" class="center-block">
        <canvas id="chart-line" class="center-block" width="800" height="600"/>
    </div>

        {% if data %}
        <div>
            <a class="btn btn-primary pull-right" href="data:text/plain;base64,{{data}}" download="profile_data.txt">Download</a>
            <br /><br />
            <br />
        </div>
        {% endif %}

    {% else %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li><a href="{{ url_for('main.features') }}">Tools</a></li>
        <li class="active"><strong>Identify OTUs specific to groups in a Study</strong></li>
    </ol>

        <h1>Find Specific OTU Profiles</h1>
        <p>Use this tool to find OTU profiles specific to groups in a study.</p>
        <div class="row">
            <div class="col-md-4 col-md-offset-2 col-xs-8">
                <div class="panel panel-primary">
                    <div class="panel-heading"><strong>Select species, study and OTUs</strong></div>
                    <div class="panel-body">
                        <form method="POST"  action="{{ url_for('otus_profile.find_specific_profiles') }}"  role="form">
                            {{ form.csrf_token }}
                            {{form.species(class_="form-control") }}<br />
                            {{form.study(class_="form-control") }}<br />
                            {{form.conditions(class_="form-control") }}<br />
                            {{form.cutoff(class_="form-control") }}<br />
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#loaderModal">Find Specific Profiles</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Help</strong></div>
                    <div class="panel-body">
                        <ul>
                            <li>First select a <strong>species</strong> of interest</li>
                            <li>Next, select the study in which specific profiles are searched.</li>
                            <li>Click <strong>Find Specific Profiles</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


</div>
{% endblock %}

{% block extrajs %}
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hammer.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chartjs-plugin-zoom.min.js') }}"></script>
    
    <script>
        let species_select = document.getElementById('species_id');
        let study_id_select = document.getElementById('study_id');
    
        species_select.onchange = function() {
            species_id = species_select.value;
            
            fetch("{{ url_for('study.get_species_studies', species_id='species_id') }}".replace('species_id', species_id)).then(function(response) {
                response.json().then(function(data) {
                    
                    let optionHTML = '';
                   
                    for (let study of data.studies) {
                        optionHTML += '<option value="' + study.id + '">' + study.name + '</option>';
                    }
        
                    study_id_select.innerHTML = optionHTML;
        
                })
            })
        }
    </script>

    {% if otus_profiles %}
    <script>
        $(function () {
            var data = {{ otus_profiles|safe }};
            var ctx = document.getElementById("chart-line").getContext("2d");
            var myChart = new Chart(ctx, data);
        });
    </script>
    {% endif %}
    {% if example and example.probes %}
    <script>
    $(function() {
        $('#load_example').click(function (ev) {
            ev.preventDefault();
            {% for key, value in example.items() %}
                $('#{{key}}').val("{{value}}");
            {% endfor %}
        });
    });
    </script>
    {% endif %}
{% endblock %}