{% extends 'base.html' %}

{% block title %}
        OTU Profile Specificity
{% endblock %}

{% block container %}
<div class="top-pad">

    {% if specific_profiles %}
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.screen') }}">Home</a></li>
            <li><a href="{{ url_for('main.features') }}">Tools</a></li>
            <li><a href="{{ url_for('otus_profile.find_specific_profiles') }}">Identify OTUs specific to groups in a Study</a></li>
            <li class="active"><strong>Results</strong></li>
        </ol>

        <h1>Specific profiles for study {{ current_study.name }} (<em>{{ current_species.name }}</em>)</h1>

        <h2>Groups of: <em>{{ current_method.data_type }} </em></h2>

        <div class="row">
        <div class="col-lg-10">
        <table class="table table-striped" id="results_table">
            <thead>
            <tr>
                <th class="col-xs-2" data-sort="string-ins"><span class="sort-icon"></span>OTU</th>
                <th class="col-xs-2" data-sort="string-ins"><span class="sort-icon"></span>Condition</th>
                <th class="col-xs-2" data-sort="float"><span class="sort-icon"></span>SPM score</th>
                <th class="col-xs-2" data-sort="float"><span class="sort-icon"></span>Entropy score</th>
                <th class="col-xs-2" data-sort="float"><span class="sort-icon"></span>Tau score</th>
            </tr>
            </thead>
            <tbody>
            {% for p in specific_profiles %}

                <tr>
                    <td><a href="{{ url_for('otu.otu_find', otu_original_id=p.otu_probe) }}">{{ p.otu_probe }}</a></td>
                    <td>{{ p.condition }}</td>
                    <td>{{ p.score }}</td>
                    <td>{{ p.entropy }}</td>
                    <td>{{ p.tau }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
        <a id="DownloadTable" href="#" class="btn btn-primary">Download table</a><br /><br />
        </div>
        </div>

        {% if data %}
        <div>
            <a class="btn btn-primary pull-right" href="data:text/plain;base64,{{data}}" download="profile_data.txt">Download</a>
            <br /><br />
            <br />
        </div>
        {% endif %}

    {% else %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li><a href="{{ url_for('main.features') }}">Tools</a></li>
        <li class="active"><strong>Identify OTUs specific to groups in a Study</strong></li>
    </ol>

        <h1>Find Specific OTU Profiles</h1>
        <p>Use this tool to find OTU profiles specific to groups in a study.</p>
        <div class="row">
            <div class="col-md-6 col-md-offset-1 col-xs-6">
                <div class="panel panel-primary">
                    <div class="panel-heading"><strong>Select species, study, conditions and cutoff</strong></div>
                    <div class="panel-body">
                        <form method="POST"  action="{{ url_for('otus_profile.find_specific_profiles') }}"  role="form">
                            {{ form.csrf_token }}
                            {{form.species_id(class_="form-control") }}<br />
                            {{form.study_id(class_="form-control") }}<br />
                            {{form.conditions(class_="form-control") }}<br />
                            <label><abbr title="Click to show help" href="" data-target="#helpModal">SPM</abbr> cutoff :</label>
                            {{form.spm_cutoff(class_="form-control", **{'data-provide':"slider",
                                                                    'data-slider-id':"cutoffSlider",
                                                                    'data-slider-min':"0.5",
                                                                    'data-slider-max':"1",
                                                                    'data-slider-step': "0.01",
                                                                    'data-slider-value': "0.85"})}}<br/>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#loaderModal">Find Specific Profiles</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Help</strong></div>
                    <div class="panel-body">
                        <ul>
                            <li>First select a <strong>species</strong> of interest</li>
                            <li>Next, select the study in which specific profiles are searched.</li>
                            <li>Next, select the ontology or condition in which specific profiles are searched.</li>
                            <li>Click <strong>Find Specific Profiles</strong></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


</div>
{% endblock %}

{% block extrajs %}
    <script src="{{ url_for('static', filename='js/bootstrap-slider.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hammer.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chartjs-plugin-zoom.min.js') }}"></script>
    
    {% if form %}
    <script>

        cutoff_slider = $('#spm_cutoff').slider({
            formatter: function(value) {
                return 'Cutoff: ' + value;
            }
        }).on("slideStop", function(ev) {
                update_count(ev.value);
        });
        
    </script>
    {% endif %}

    <script>
        $(function () {
            $("#results_table").stupidtable();
            $('a[data-target=#profileModal]').click(function(ev) {
              ev.preventDefault();
              var target = $(this).attr("href");
          
              // load the url and show modal on success
              $("#profileModal .modal-content").load(target, function() {
                   $("#profileModal").modal("show");
              });
          });
        
        })

        var csv_data = $("#results_table").table2CSV({delivery:'value'});
        csv_data = csv_data.replace(/,"Action"\n/,'\n');
        csv_data = csv_data.replace(/,"\s+"\n/gi,'\n');
        csv_data = csv_data.replace(/,"\s+"$/gi,'\n');

        $("#DownloadTable").attr('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(csv_data));
        $("#DownloadTable").attr('download', "table_correlations.csv");
    </script>

    <script>
        let species_select = document.getElementById('species_id');
        let study_id_select = document.getElementById('study_id');
        let conditions_select = document.getElementById('conditions');
    
        species_select.onchange = function() {
            species_id = species_select.value;
            
            fetch("{{ url_for('study.get_species_studies', species_id='species_id') }}".replace('species_id', species_id)).then(function(response) {
                response.json().then(function(data) {
                    
                    let optionHTML = '';

                    optionHTML += '<option value="' + 0 + '">' + 'Select species first' + '</option>';
                   
                    for (let study of data.studies) {
                        optionHTML += '<option value="' + study.id + '">' + study.name + '</option>';
                    }
        
                    study_id_select.innerHTML = optionHTML;
        
                })
            })
        }

        study_id_select.onchange = function() {
            study_id = study_id_select.value;
            
            fetch("{{ url_for('study.get_specificity_methods', study_id='study_id') }}".replace('study_id', study_id)).then(function(response) {
                response.json().then(function(data) {
                    
                    let optionHTML = '';
                   
                    for (let spec_method of data.specificity_methods) {
                        optionHTML += '<option value="' + spec_method.id + '">' + spec_method.description + '</option>';
                    }
        
                    conditions_select.innerHTML = optionHTML;
        
                })
            })
        }

    </script>

    {% if otus_profiles %}
    <script>
        $(function () {
            var data = {{ otus_profiles|safe }};
            var ctx = document.getElementById("chart-line").getContext("2d");
            var myChart = new Chart(ctx, data);
        });
    </script>
    {% endif %}
    {% if example and example.probes %}
    <script>
    $(function() {
        $('#load_example').click(function (ev) {
            ev.preventDefault();
            {% for key, value in example.items() %}
                $('#{{key}}').val("{{value}}");
            {% endfor %}
        });
    });
    </script>
    {% endif %}
{% endblock %}