<div class="modal-header">
    {% if otu %}
    <h4 class="modal-title" id="myModalLabel"><strong>{{ sequence.original_id }}</strong> OTU representative sequence<small> (length: {{ sequence.representative_sequence|length }} bp)</small></h4>
    {% endif %}

</div>
<div class="modal-body" syle="width:400px">
    <div class="well sequence">{{ sequence.representative_sequence }}</div>
</div>
<div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>