{% extends 'base.html' %}

{% block title %}
    {% if form %}
        Search correlated Expression and Microbiome profiles
    {% else %}
        Profile correlation results
    {% endif %}
{% endblock %}

{% block container %}
<div class="top-pad">

    {% if form %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li><a href="{{ url_for('main.features') }}">Tools</a></li>
        <li class="active"><strong>Expression and Microbiome Profiles Correlations of Groups in a Study</strong></li>
    </ol>
    <h1>Profiles Correlations in Groups of a Study</h1>
    <p>Using the form below correlations interaction between host expression and microbiome can be analyzed in a comparison between groups of a study.</p>
        <div class="row">
            <div class="col-md-6 col-md-offset-1 col-xs-8">
                <div class="panel panel-primary">
                    <div class="panel-heading"><strong>Search options</strong></div>
                    <div class="panel-body">
                        <form method="POST"  action="{{ url_for('search.search_correlated_profiles_study_groups') }}"  role="form">
                            {{ form.csrf_token }}
                            <label>Species</label>
                            {{form.species_id(class_="form-control")}}<br/>
                            <label>Study</label>
                            {{form.study_id(class_="form-control")}}<br/>
                            <label>Method</label>
                            {{form.tool_name(class_="form-control")}}<br/>
                            <label><abbr title="Click to show help" href="" data-target="#helpModal">Correlation</abbr> cutoff :</label>
                            {{form.correlation_cutoff_study_groups(class_="form-control", **{'data-provide':"slider",
                                                                    'data-slider-id':"cutoffSlider",
                                                                    'data-slider-min':"0",
                                                                    'data-slider-max':"1",
                                                                    'data-slider-step': "0.01",
                                                                    'data-slider-value': "0.85"})}}<br/>
                            <button type="submit" id="show_button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#loaderModal">Show correlations</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong>Help</strong></div>
                    <div class="panel-body">
                        <ul>
                            <li>Select the <strong>species</strong> first. This will enable a list of studies for this species in next selector.</li>
                            <li>Next select a <strong>study</strong>. Note that studies are formed by combinations of runs from one or more literature sources.</li>
                            <li>Next select a <strong>method</strong>. Methods shown on this page are common between selected studies.</li>
                            <li>Set the <abbr title="Click to show help" href="{{ url_for('help.help_topic', topic='spm') }}" data-target="#helpModal">Correlation</abbr> cutoff (recommended setting: 0.5). Higher values are stronger correlations, lower ones are weaker</li>
                            <li>Click <strong>Show profile pairs</strong> <span class="text-muted"> When updating the slider a number will appear in the button indicating how many pairs there will be in the results</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% elif results %}
    <ol class="breadcrumb">
        <li><a href="{{ url_for('main.screen') }}">Home</a></li>
        <li><a href="{{ url_for('main.features') }}">Tools</a></li>
        <li><a href="{{ url_for('search.search_correlated_profiles_study_groups') }}">Correlated Profiles Between Groups in a Study</a></li>
    </ol>
    <h1>Correlated profiles for study:</h1>
    <h1><em>{{ study.name }} </em></h1>
    <h2>Species: <a href="{{ url_for('species.species_view', species_id=species.id) }}"><em>{{ species.name }} </em></a></h2>
    <h2>Correlation method: <em>{{ tool_name }} </em></h2>
    <h2>Correlation cutoff: <em>{{ cutoff }} </em></h2>
    <h3>Correlated pairs across all groups in study: {{ union_pos|length }} (positive correlations) / {{ union_neg|length }} (negative correlations)</h2>

    <div id="upset_plot_pos" class="center-block" style="width: 1000px; height: 800px;"></div>

    <div class="row">
        <div class="col-lg-12">
        <table class="table table-striped" id="results_table">
            <thead>
            <tr>
                <th class="col-xs-2" data-sort="string-ins"><span class="sort-icon"></span>Group Type</th>
                <th class="col-xs-2" data-sort="string-ins"><span class="sort-icon"></span>Group Category</th>
                <th class="col-xs-2" data-sort="string-ins"><span class="sort-icon"></span>Number of Positive Correlations</th>
                <th class="col-xs-2" data-sort="string-ins"><span class="sort-icon"></span>Number of Negative Correlations</th>
                <th class="col-xs-2" data-sort="string-ins"><span class="sort-icon"></span>Exclusive Positive Correlations</th>
                <th class="col-xs-2" data-sort="string-ins"><span class="sort-icon"></span>Exclusive Negative Correlations</th>
            </tr>
            </thead>
            <tbody>
                {% for sample_group in results.keys() %}
                <tr>
                    <td>{{ results[sample_group]['group_type'] }}</td>
                    <td>{{ sample_group }}</td>
                    <td><a href="#">{{ results[sample_group]['pos']['pairs']|length }}</a></td>
                    <td><a href="#">{{ results[sample_group]['neg']['pairs']|length }}</a></td>
                    <td><a href="#">{{ unique_pairs_pos[sample_group]|length }}</a></td>
                    <td><a href="#">{{ unique_pairs_neg[sample_group]|length }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a id="DownloadTable" href="#" class="btn btn-primary">Download table</a><br /><br />
        </div>
    </div>

    <div class="row"></div>
        <div class="col-lg-12">
        <table class="table table-striped" id="results_table">
            <thead>
            <tr>
                <th class="col-xs-2" data-sort="string-ins"><span class="sort-icon"></span>Group 1 (G1)</th>
                <th class="col-xs-2" data-sort="string-ins"><span class="sort-icon"></span>Group 2 (G2)</th>
                <th class="col-xs-2" data-sort="string-ins"><span class="sort-icon"></span>Shared Positive Correlations</th>
                <th class="col-xs-2" data-sort="string-ins"><span class="sort-icon"></span>Shared Negative Correlations</th>
                <th class="col-xs-2" data-sort="string-ins"><span class="sort-icon"></span>Shared Pairs in Opposing Correlations (Neg G1-Pos G2)</th>
                <th class="col-xs-2" data-sort="string-ins"><span class="sort-icon"></span>Shared Pairs in Opposing Correlations (Pos G1-Neg G2)</th>
            </tr>
            </thead>
            <tbody>
                {% for sample_group1 in intersection_two_groups_pos.keys() %}
                    {% for sample_group2 in intersection_two_groups_pos[sample_group1].keys() %}
                <tr>
                    <td>{{ sample_group1 }}</td>
                    <td>{{ sample_group2 }}</td>
                    <td><a href="#">{{ intersection_two_groups_pos[sample_group1][sample_group2]|length }}</a></td>
                    <td><a href="#">{{ intersection_two_groups_neg[sample_group1][sample_group2]|length }}</a></td>
                    <td><a href="#">{{ intersection_two_groups_neg_pos[sample_group1][sample_group2]|length }}</a></td>
                    <td><a href="#">{{ intersection_two_groups_pos_neg[sample_group1][sample_group2]|length }}</a></td>
                </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
        <a id="DownloadTable" href="#" class="btn btn-primary">Download table</a><br /><br />
        </div>
    </div>

        <div class="modal" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModalLabel">
            <div class="modal-dialog" role="document" style="width:1000px;height:800px;">
              <div class="modal-content">
          
              </div>
          
            </div>
          </div>

    {% endif %}
</div>
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='js/bootstrap-slider.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/table2CSV.js') }}" > </script>
<script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/chartjs-plugin-zoom.min.js') }}"></script>
<script src="https://unpkg.com/@upsetjs/bundle"></script>
    
{% if form %}
<script>

    cutoff_slider = $('#correlation_cutoff_study_groups').slider({
        formatter: function(value) {
            return 'Cutoff: ' + value;
        }
    }).on("slideStop", function(ev) {
            update_count(ev.value);
    });
    
</script>

<script>
    let species_select = document.getElementById('species_id');
    let study_select = document.getElementById('study_id');
    let tool_select = document.getElementById('tool_name');
    
    species_select.onchange = function() {
        species_id = species_select.value;
        
        fetch("{{ url_for('study.get_species_studies', species_id='species_id', study_type='expression_metataxonomics') }}".replace('species_id', species_id)).then(function(response) {
            response.json().then(function(data) {
                
                let optionHTML = '';
                
                optionHTML += '<option value="' + 0 + '">' + 'Select Study first' + '</option>';

                for (let study of data.studies) {
                    optionHTML += '<option value="' + study.id + '">' + study.name + '</option>';
                }
    
                study_select.innerHTML = optionHTML;
    
            })
        })
    }

    study_select.onchange = function() {
        study_value = study_select.value;
        
        fetch("{{ url_for('profile_correlations.get_study_cor_tools', study_id='study_id') }}".replace('study_id', study_value)).then(function(response) {
            response.json().then(function(data) {
                
                let optionHTML = '';
                
                optionHTML += '<option value="' + 0 + '">' + 'Select Method First' + '</option>';

                for (let cor_tool of data.cor_tools) {
                    optionHTML += '<option value="' + cor_tool.method_tool + '">' + cor_tool.method_tool + '</option>';
                }
    
                tool_select.innerHTML = optionHTML;
    
            })
        })
    }

</script>

{% endif %}

<script>
$(function () {
    $("#results_table").stupidtable();
    $('a[data-target=#profileModal]').click(function(ev) {
      ev.preventDefault();
      var target = $(this).attr("href");
  
      // load the url and show modal on success
      $("#profileModal .modal-content").load(target, function() {
           $("#profileModal").modal("show");
      });
  });

})
</script>

{% if results %}

<script>

    {% for sample_group in results.keys() %}
        study_data_{{ loop.index }} = {{ results[sample_group]['pos']['pairs']|safe }};
        console.log(study_data_{{ loop.index }});
    {% endfor %}
    upset_plot_pos_div = document.getElementById("upset_plot_pos");

    const data = [
          {% for sample_group in results.keys() %}
            { name: '{{ sample_group }}', elems: study_data_{{ loop.index }} },
          {% endfor %}
        ];
        const sets = UpSetJS.asSets(data);
        UpSetJS.render(upset_plot_pos_div, { 
            sets: sets,
            width: 1000,
            height: 800,
        });

</script>

{% endif %}

{% endblock %}